* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.logo {

  width: 90px;
  margin-top: 16px;
  border: 5px solid rgb(255, 217, 0);
  box-shadow: 0 .5rem 1rem rgba(197, 159, 6, 0.734);
  border-radius: 50%;
  display: block;
  margin-right: 20px;
}

nav {
  box-shadow: -10px 0 10px rgba(255, 196, 3, 0.301);
  width: 100%;
  height: 100px;
  background-color: rgba(203, 198, 179, 0);
  position: fixed;
  z-index: 999;
}

nav ul {

  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {

  height: 82px;
}

nav a {

  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: rgb(255, 204, 0);
  transition: ease-in-out 0.5s linear;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(99, 94, 72, 0);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

nav ul li .box {
  width: 45px;
}

nav .sidebar .closebar {
  width: 45px;
}

.menu-button {
  display: none;
}

@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }



  .menu-button {
    display: block;
  }
}

@media(max-width: 400px) {
  .sidebar {

    width: 50%;
  }

}



body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.688) 50%,
      rgba(0, 0, 0, 0.688) 50%),
    url("IMAGES/p5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  animation: change 10s infinite ease-in-out;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;

}

.text h1 {
  color: rgb(255, 204, 0);
  font-size: 50px;
  letter-spacing: 15px;

}

@media(max-width: 360px) {
  .text h1 {
    color: rgb(255, 204, 0);
    font-size: 40px;
    letter-spacing: 15px;

  }
}

.text h1 span {
  color: #fff;
}

.text p {
  color: rgb(255, 204, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 7px;
}

@keyframes change {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.688) 50%,
        rgba(0, 0, 0, 0.688) 50%), url(IMAGES/p4.jpg);
  }

  20% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.688) 50%,
        rgba(0, 0, 0, 0.688) 50%), url(IMAGES/p1.jpg);
  }

  40% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.688) 50%,
        rgba(0, 0, 0, 0.688) 50%), url(IMAGES/p2.jpg);

  }

  60% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.688) 50%,
        rgba(0, 0, 0, 0.688) 50%), url(IMAGES/p3.jpg);

  }

  80% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.688) 50%,
        rgba(0, 0, 0, 0.688) 50%), url(IMAGES/p7.webp);

  }

  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.688) 50%,
        rgba(0, 0, 0, 0.688) 50%), url(IMAGES/R.jpeg);

  }
}

.about-us {
  width: 100%;
  background-color: rgba(225, 182, 11, 0.922);
  padding: 120px 30px;
}

.about-us .section-content {
  display: grid;
  justify-content: space-between;
  gap: 50px;

}

.about-us .section-content .about-image img {

  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
}

.about-us .section-content .about-image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;

}

.section-title {
  color: #fff;
  text-align: center;
  padding: 60px 0px 100px;
  font-size: 3rem;
  font-weight: 700;

}

.section-title::after {
  content: '';
  display: block;
  background: #fff;
  height: 5px;
  width: 250px;
  border-radius: 30px;
  margin: 10px auto 0;
}

.about-details .section-title {
  padding: 0;
}

.about-details p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 50px 0 30px;
}

.menu-section {
  background-color: rgba(0, 0, 0, 0.616);
  padding: 50px 0 100px;
}

.menu-section .menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.menu-section .menu-list .menu-items {
  width: 30%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0 .5rem 1rem rgba(197, 159, 6, 0.734);
  height: 400px;
}

@media(max-width: 800px) {
  .menu-section .menu-list .menu-items {
    width: 70%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 .5rem 1rem rgba(197, 159, 6, 0.734);
    height: 400px;
  }

  .menu-section video {

    width: 1330%;
  }

}

.menu-section .menu-list .menu-items img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.background-clip {
  position: absolute;
  right: 0;
  border: 5px solid rgb(0, 0, 0);
  z-index: -1;
  width: 133%;
}

.theme-section {
  background-color: rgba(225, 182, 11, 0.922);
}

.theme-section .theme-list .theme-items {
  gap: 10px;

}

.theme-section .theme-list .theme-items img {
  cursor: zoom-in;
  transition: 1s linear;
  border-radius: 8px;
  height: 100%;
}

.theme-section .theme-list .theme-items img:hover {
  transform: scale(1.1);
  object-fit: cover;
}

.theme-section .theme-list .theme-items {
  overflow: hidden;
  border-radius: 8px;
  height: 300px;
}

@media(max-width: 800px) {
  .theme-section .theme-list .theme-items {
    overflow: hidden;
    border-radius: 8px;
    width: 70%;
    height: 400px;
  }

}

.contact-us {
  background-image: linear-gradient(rgba(0, 0, 0, 0.688) 50%,
      rgba(0, 0, 0, 0.688) 50%), url(/IMAGES/contact.webp);
  background-size: cover;
  padding-bottom: 100px;
  color: #fff;
  font-size: 20px;
}

.contact-us .section-content {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  /* align-items: center; */
  justify-content: space-between;
  gap: 20px;

}

.contact-form {
  max-width: 70%;
}

.contact-form form {
  width: 100%;
}

.contact-form form input,
textarea {
  width: 100%;
  height: 40px;
  padding: 20px 10px;
  border: 2px solid rgb(255, 208, 0);
  outline: none;
  margin-bottom: 30px;
  border-radius: 10px;
  font-size: 1rem;

}

@media(max-width: 800px) {

  .contact-form form input,
  textarea {
    display: flex;
    width: 80%;
    height: 40px;
  }

  .section-title {
    font-size: 2.5rem;


  }

  .contact-us .contact-details {
    font-size: 15px;
    display: flex;

  }
}

textarea {
  height: 100px;
  resize: vertical;

}

.contact-us .contact-details {
  max-width: 20%;
  display: flex;
  flex-direction: column;
}

.contact-us .contact-details div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px;

}

.submit {
  background-color: rgba(255, 221, 1, 0.645);
  color: rgb(0, 0, 0);
  padding: 8px 22px;
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s linear;
}


.submit:hover {
  background-color: rgb(11, 10, 10);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 217, 0);

}

.footer {

  background-color: rgba(255, 204, 0, 0.925);
  padding: 20px 30px;
}

.footer .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .section-content .footer-links ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

}

@media(max-width: 800px) {
  .footer .section-content .footer-links ul {
    display: block;
    margin-bottom: 90px;


  }
}